.App {
  text-align: center;
}

.container {
  margin: 0 auto 3rem auto;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.header {
  font-size: 18px;
  padding: 1.5rem 0;
}
.piece {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.piece.black, .piece.white {
  border: 1px solid black;
}
.piece.black {
  background-color: black;
}
.piece.white {
  background-color: white;
}

.sketch-board {
  position: absolute;
  left: 0;
  top: 0;
}

.row {
  height: 40px;
}